<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XiangMu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D202326AFA77A60D65B61F5092226D945FAE5EE2</string>
				<key>dateExpires</key>
				<string>2018/11/7</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7YL4368J34.com.mt.356</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7YL4368J34</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>XiangMu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bf791e12-dd9f-46df-828b-cba60154394a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mt.356</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7YL4368J34</string>
				<key>name</key>
				<string>Youran Li</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
